name: Three_Tier_Architecture Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  
  workflow_dispatch:
    inputs:
      destroy:
        description: "Set to true to destroy resources"
        required: false
        default: "false"

permissions:
  id-token: write
  contents: read

jobs:
  aws_provision_and_destroy:
    if: github.event.inputs.destroy == 'true'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region: ${{ secrets.REGION }}
        role-to-assume: ${{ secrets.ROLE_TO_ASSUME }}
        role-session-name: GitHubActionsSession
      
    - name: Install Terraform
      run: |
        wget -O - https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
        echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
        sudo apt update && sudo apt install terraform

    - name: Terraform Format
      run: terraform fmt
    
    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan

    # - name: Terraform Apply
    #   run: terraform apply -auto-approve
    #   continue-on-error: true 

    - name: Terraform Destroy (if Apply fails)
      # if: failure()
      run: terraform destroy -auto-approve
